.body

{
background-color:#d0e4fe;
}

{
color:red;
text-align:left;
font-size:8pt;
}




.ul
{

font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 12px;
font-style: normal;
line-height: 2em;
font-weight: normal;
font-variant: normal;
text-transform: none;
color: #00CC33;
text-decoration: none;
background-color: #CCCCCC;
text-indent: 5px;
list-style-position: outside;
list-style-image: url(arrow.gif);
list-style-type: square;
padding: 6px;
margin: 2px;

} 

.li

{

    padding: 0 20px 6px;
    margin-right: 8px;
    vertical-align: top;
    background: #678;
    -moz-border-radius: 60px;
    border-radius: 60px;
    font-weight: bold;
    font-size: 0.8em;
    color: blue;		

}



.table{
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}

table.th
 {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.td
 
{
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

.usernametextbox {
    background: url('images/user_icon.png') no-repeat scroll right center #FFFFFF;
    border: 1px solid #ffa853;
    border-radius: 5px;
    box-shadow: 0 0 5px #888;
    color: #666;
    float: left;
    padding: 5px 27px 5px 10px;
    width: 165px;
    outline: none;
}

.passtextbox

{

  background: white;
    border: 1px solid #ffa853;
    border-radius: 5px;
    box-shadow: 0 0 5px #888;
    color: #666;
    float: left;
    padding: 5px 27px 5px 10px;
    width: 165px;
    outline: none;
}


.submit-button

{

background:#0066A2;
color:white;
border-style:outset;
border-color:#0066A2;
height:50px;
width:100px;
font: bold 15px arial,sans-serif;

}


